body
 {
   font-size: 75px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;
   background-color: #222;
   overflow: hidden;
 }

.wrapper {
   position: relative;
   min-height: 100vh;
}

.wrapper > * {
   position: absolute;
   top: 50%;
   left: 50%;
}

#tomorrow {
   transform: translate(-50%, -195%);
   font-size: 1.1em;
}

.header {
   font-family: "Lucida Console", "Courier New", monospace;
   font-size: 0.3em;
   position: absolute;
}

.others {
   transform: translateX(-50%);
   width: 5em;
}

.others > * {
   position: absolute;
}

.others > .header {
   margin-top: 2em;
}

#today,
#today + .header {
   left: 0;
   transform: translateX(-50%);
}

#yesterday,
#yesterday + .header {
   right: 0;
   transform: translateX(50%);
}

p {
   width: max-content;
}

#tomorrow + .header {
   transform: translate(-50%, -685%);
}


@media (max-width: 400px) {
   body {
      font-size: 50px;
   }
   .others {
      width: 2em;
   }
   .others > .word {
      font-size: 0.65em;
      margin-top: 1.75em;
   }
}

@media (min-width: 1000px) {
   body {
      font-size: 100px;
   }
}

@media (max-width: 1000px) {
   
   .others {
      width: 2.4em;
   }
   .others > .word {
      font-size: 0.65em;
      margin-top: 1.75em;
   }
}